[submodule "HostileEngine/Libs/imgui/imgui"]
	path = HostileEngine/Libs/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "HostileEngine/Libs/spdlog/spdlog"]
	path = HostileEngine/Libs/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HostileEngine/Libs/imnodes/imnodes"]
	path = HostileEngine/Libs/imnodes/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "HostileEngine/Libs/imguizmo/imguizmo"]
	path = HostileEngine/Libs/imguizmo/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
