.vs
/HostileEngine/.vscode
HostileEngine/HostileEngine/src/Graphics/MonoSam.json
HostileEngine/HostileEngine/src/Graphics/MonoSam.jsonc
HostileEngine/HostileEngine/src/Graphics/MonoSam.pkgdef
hostile notes
playtest options
/HostileEngine/HostileEngine/vcpkg_installed/
